<?php
  include_once './config.php';
  

  $home = 'nav-link';
  $eventos = 'nav-link';
  $calendario = 'nav-link';
  $residencia = 'nav-link';
  $class = '';
  $avisos = 'nav-link active'; 
  $dados = 'nav-link'; 
  $notas = 'nav-link'; 
  $faltas = 'nav-link'; 
  $pedido = 'nav-link'; 
  $plano = 'nav-link';

  session_start();
  $campo = $_SESSION['USER'];
  $xml = simplexml_load_file(RESIDENTES);
  foreach($xml->residente as $residente):
    if($residente->matricula == $campo){
      $titulo = $residente->programa;
    }
  endforeach;

  include CABECALHO;
?>

<div class="container">
  <?php include MENU_ABAS; ?>
  <div class="container" style="margin-top: 20px;">
    <?php
      $xml = simplexml_load_file(AVISOS);
      foreach($xml->aviso as $aviso):
        if($aviso->situacao == 'ativo' and $aviso->categoria == 'todos' or $aviso->categoria == 'medica'){
          echo "<p class='h2'>" . (string)$aviso->titulo . "</p>";
          echo "<p class='lead'>" . (string)$aviso->texto . "</p>";
          echo "<hr>";
        }
      endforeach;
    ?>
  </div>
</div>
<?php include RODAPE; ?>