<!-- Menu de opções em abas -->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="<?php print $avisos; ?>" href="#">Avisos</a>
  </li>
  <li class="nav-item">
    <a class="<?php print $dados; ?>" href="#">Dados Pessoais</a>
  </li>
  <li class="nav-item">
    <a class="<?php print $notas; ?>" href="#">Notas</a>
  </li>
  <li class="nav-item">
    <a class="<?php print $faltas; ?>" href="#">Faltas</a>
  </li>
  <li class="nav-item">
    <a class="<?php print $pedido; ?>" href="#">Solicitações</a>
  </li>
  <li class="nav-item">
    <a class="<?php print $plano; ?>" href="#">Plano de Ensino</a>
  </li>
</ul>