<?php
  include_once './config.php';

  $titulo = 'Residência Médica';
  $home = 'nav-link';
  $eventos = 'nav-link';
  $calendario = 'nav-link';
  $residencia = 'nav-link';
  $class = '';
  $avisos = 'nav-link active'; 
  $dados = 'nav-link'; 
  $notas = 'nav-link'; 
  $faltas = 'nav-link'; 
  $pedido = 'nav-link'; 
  $plano = 'nav-link';

  session_start();
  include CABECALHO;
?>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1 class="text-hide" style="background-image: url('views/img/download.svg'); width: 150px; height: 150px;">Foto</h1>
    </div>
    <div class="col">
      <p>Matrícula:</p>
      <p>Nome:</p>
      <p>Programa:</p>
      <p>Área:</p>
    </div>
  </div>
  
  <?php include MENU_ABAS; ?>
</div>
<?php include RODAPE; ?>