<!-- apresenta o cabeçalho do site -->
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Davi Lima Pereira">

    <title>NEP - <?php print $titulo; ?></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link href="https://getbootstrap.com.br/docs/4.1/examples/starter-template/starter-template.css" rel="stylesheet">
    <link href="https://getbootstrap.com.br/docs/4.1/examples/carousel/carousel.css" rel="stylesheet">
  </head>
  <body>
    <style>
      body {
        padding-top: 5rem;
      }
    </style>
  <?php include MENU; ?>
